<p><%= @resource.email %>さん、gensokyo.cloudへようこそ！</p>

<p><%= @instance %>にアカウントが作成されました。</p>

<p>以下のリンクをクリックしてメールアドレスを確認してください。</p>

<p><%= link_to 'メールアドレスの確認', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>また、インスタンスの<%= link_to '利用規約', terms_url %>についてもご確認ください。<br>よき幻想郷ライフを。</p>

<p><%= @instance %> より</p>
